body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    padding: 0px;
  }

  .vpn{
    font-size: 2.4rem;
    color: black;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 30px 0 200px;
    top: 40px;
  }
  
  h2{
    color: red;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px 0px 100px;
    top: 90px;
  }

  p{
    color: black;
  }

  h5{
    color: black;
  }
  
  .img2{
    top: 581px;
    right: 300px;
    position: absolute;
  }

  .img3{
  height:30px ;
    width: 40px;
    top: 110px;
    left: 55px;
    position: absolute;
  }
 
  .middle-container {
    margin: 100px 0;
  }
  .mid-view{
    width: 80%;
    margin: 120px auto 100px auto;
    text-align: left;
  }

  .image3{
    width: 35%;
    float: left;
    margin-right: 30px;
  }

 h3{
  font-size: 3rem;
  margin-left: 500px;
 }
 .p{
   margin-left: 500px;
 }
 .p2{
 
  margin-left: 150px;
 }
 
 .image4{
  width: 35%;
  float: right;
  margin-left: 30px;
}

.H{
  margin-top: 200px;
  font-size: 3rem;
  margin-left: 10px;
}
.p3{
 
  margin-right: 150px;
}

.image5{
 width: 35%;
 float: left;
 margin-left: 30px;
}

.H2{
  margin-top: 200px;
  font-size: 3rem;
  margin-left: 500px;
}

.p4{
  margin-left: 500px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 28%;
  padding: 5px;
}

.row {
  margin-top: 200px;
  content: "";
  clear: both;
  display: table;
}

.footer-h3{
  font-size: small;
  font-weight: bolder;
}
.col footer-col{
  text-align: center;
}


/* navbar start*/
.navbar{
  background-color: black;
}
.navbar ul{
  overflow: auto;
  
}
.navbar li{
  float: left;
  list-style: none;
  margin: 13px 20px;
  
}
.navbar li a{
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}
.navbar li a:hover{
  color: red;
}
.search{
  float: right;  
  color: white;
  padding: 12px 75px;
}
.navbar input{
  border-radius: 14px;
  border: 2px solid black;
  padding: 3px 17px;
  width: 129px;
}

/*navbar end */
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


  